
html {
  font-size: 13px;
}

h2 {}

h2, p {
  color: white;
  text-align: left;
  padding-left: 50px;
}

img{
  text-align: right;
  padding-left: 300px;
  width: 400px;
  height: 300px;
}
ul{
  list-style: none;
}

.inner-div {
  background-color: #202040;
  position: absolute;
  width: 700px;
  height: 300px;
  left: 112px;
  top: 50px;
  right: 250px;
  bottom: 50px;
  padding-top: 40px;
}

.outer-div {
  height: 30px;
  width: 500px;
  background-color: #000011;
  padding: 200px 200px;
}
