
html {
  font-size: 10px;
}

h2 {
  color: white;
  text-align: left;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.5;
}

img{
  text-align: right;
  padding-left: 350px;
  width: 350px;
  height: 300px;
}
li{
  width: 400px;
  height: 0px;
}
p {
  color: white;
  text-align: left;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}
tr,td{
  line-height: 0.25;
  
}
ul{
  list-style: none;
}
.div-1{
  position: absolute;
  top: 0px;

}
.div-2{
  position: absolute;
  top: 10px;
}
.font-h2{
  font-size: 16px;
}
.inner-div {
  background-color: #202040;
  position: absolute;
  width: 700px;
  height: 250px;
  left: 130px;
  top: 120px;
  right: 250px;
  bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.outer-div {
  height: 30px;
  width: 500px;
  background-color: #000011;
  padding: 250px 250px;
}
