html {
  font-size: 10px;
}

h2 {
  font-size: 16px;
  color: white;
  text-align: left;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.5;
}

img {
  text-align: right;
  padding-left: 350px;
  width: 350px;
  height: 300px;
}

li {
  width: 400px;
  height: 0px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

table {
  border-spacing: 0px;
}

tr, td {
  line-height: 0.25;
}

ul {
  list-style: none;
}

.attribution {
  font-size: 16px;
  margin-right: 400px;
  text-align: center;
}

.div-1 {
  position: absolute;
  top: 0px;
}

.div-2 {
  position: absolute;
  left: 0px;
  top: 40px;
}

.font-color {
  color: hsl(277, 64%, 61%);
}

.font-h2 {
  font-size: 21px;
  margin-bottom: 0px;
}

.inner-div {
  background-color: hsl(244, 38%, 16%);
  position: absolute;
  width: 700px;
  height: 250px;
  left: 130px;
  top: 120px;
  right: 250px;
  bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.shrink {
  padding-left: 5px;
}

.outer-div {
  height: 30px;
  width: 500px;
  background-color: hsl(233, 47%, 7%);
  padding: 250px 250px;
}
